@{
    ViewBag.Title = "Archivo List";
}


    <div class="box box">
        <button type="button" title="Cargar archivos" class="btn btn-primary btn-flat" data-toggle="modal" data-target="#modal-add-carga"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; Cargar Archivos</button>
    </div>

        



    <table id="ArchivoTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Formato</th>
                <th>Periodo</th>
                <th>Fecha Subida</th>
                <th>Estado</th>
                <th>Acciones</th>
                <th>Mostrar</th>
            </tr>
        </thead>
    </table>


    <div id="modalito" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" style="height: 575px; width:900px; left: 2.5%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="ManModal-title" class="modal-title">Reporte Pago</h4>
                </div>
                <iframe style="width:100%;  overflow-y:auto;" id="Visor_Pdf" frameborder="0" class="text-center"></iframe>
            </div>
        </div>
    </div>





    <div class="modal  fade" id="modal-add-carga">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="box box-success">
                    <div class="modal-header">
                        <i class="ion ion-clipboard"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>

                <div class="modal-body">
                    <h4 class="modal-title">
                        <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Carga de Archivos
                        <small>Seleccione los archivos</small>
                    </h4>
                </div>


                <div class="modal-footer">
                    <form id="uploader">
                        <input id="fileInput" type="file" multiple>
                        <input type="submit" value="Cargar Archivo" />
                    </form>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
    </div>



    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @section scripts{



        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>


        <script>
            var Popup, dataTable;
            $(document).ready(function () {
                dataTable = $("#ArchivoTable").DataTable({
                    "ajax": {
                        "url": "/ArchivoPago/GetData",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "IdArchivoPago" },
                        { "data": "NombreArchivo" },
                        { "data": "Formato" },
                        { "data": "Periodo" },


                            {
                                "data": "FechaSubida",
                                "render": function (value) {
                                    if (value === null) return "";
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));

                                    var dd = dt.getDate();
                                    var mm = dt.getMonth() + 1;
                                    var yyyy = dt.getFullYear();

                                    if (dd < 10) {
                                        dd = '0' + dd;
                                    }

                                    if (mm < 10) {
                                        mm = '0' + mm;
                                    }

                                    return (dd + "/" + mm) + "/" + yyyy;
                                }
                            },

                                {
                                    "data": "EstadoValidacion",
                                    "render": function (value) {
                                        if (value === 0) {
                                            return "<small class='label label-warning'><i class='fa fa-clock-o'></i>Pendiente</small>";

                                        }
                                        

                                        if (value === 1) {
                                            return "<small class='label label-success'>Validado</small>";

                                        }

                                    }
                                },


                        {
                            "data": "IdArchivoPago", "render": function (data) {
                                return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Archivo")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a> ";
                            },

                        },

                          {
                              "data": "IdArchivoPago", "render": function (data) {

                                  return "<a class='btn btn-success btn-xs' style='margin-right: 5px;' onclick=CargarExcel(" + data + ") data-id='" + data + "'  data-title='tooltip' data-placement='top'  data-toggle='modal' data-target='#modalito' data-original-title='Generar Crystall'><span class='glyphicon glyphicon-saved'></span></a>";
                              },

                          }


                    ],
                    "language": {

                        "emptyTable": "No se encontraron datos, haga clic en <b>Nuevo Archivo</b> Button"
                    }
                });
            });

            function PopupForm(url) {
                var formDiv = $('<div/>');
                $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Detalle de Archivos',
                        height: 550,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
            }




            function PopupFormReporte(id) {


                $("#Visor_Imagen").hide();
                $("#Visor_Pdf").hide();

                var href = '@Url.Action("GenerarReporte", "ArchivoPago", new { Id = "id" })';
                href = href.replace("id", encodeURIComponent(id));


                $("#Visor_Pdf").show();
                $("#Visor_Pdf").attr("src", href);
                $("#Visor_Pdf").attr("height", "800");
                $("#Visor_Pdf").attr("width", "800");

            }



            function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success) {
                                Popup.dialog('close');
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                        }
                    });
                }
                return false;
            }

            function Delete(id) {
                if (confirm('¿Está seguro de eliminar este registro de Archivo?')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","ArchivoPago")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "rigth bottom",
                                    className: "success"
                                })

                            }
                        }

                    });
                }
            }


            function CargarExcel(id) {
                if (confirm('¿Está seguro de procesar el archivo Excel')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadProcesar", "ArchivoPago")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "rigth bottom",
                                    className: "success"
                                })

                            }
                        }

                    });
                }
            }

            document.getElementById('uploader').onsubmit = function () {
                var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < fileInput.files.length; i++) {
                    //Appending each file to FormData object
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                //Creating an XMLHttpRequest and sending
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/ArchivoPago/Upload');
                xhr.send(formdata);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {


                        $('#modal-add-carga').modal('hide');
                        dataTable.ajax.reload();



                        alert(xhr.responseText);

                    }
                }
                return false;
            }



        </script>






        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    }
